---
layout: default
---

<div class='row'>
  <div class='col-sm-12'>
    <p class='h2'>Cada quince días nos reunimos para construir, compartir y aprender sobre tecnología cívica <br /><br /></p>
  </div>
</div>


<div class="row">
    <div class="col-sm-12">
    <h3><b>Sobre las Civic Hack Nights</b></h3>

            <div class='col-sm-8'>
                </br>
                <p>
                    Las Civic Hack Nights son eventos organizados por la comunidad "Codeando Guadalajara" para que interesad@s en  tecnología cívica, datos abiertos  y gobierno abierto impulsen iniciativas ciudadanas en su comunidad.
                </br><br>
                    <strong>Este espacio es para ti si:</strong>
                    <ul>
                        <li>Quieres practicar tus habilidades de programación en proyectos abiertos que beneficien a los ciudadanos</li>
                        <li>Te gusta trabajar con datos y visualizarlos</li>
                        <li>Te interesa aprender más sobre tecnología cívica</li>
                        <li>Quieres aprender a programar o quieres compartir algo que has aprendido</li>
                    </ul>
                    </br>
                    <strong>¿No tienes un perfil técnico?</strong>
                    </br><br>
                    <p>
                        La comunidad está abierta a todo tipo de perfiles que quieran contribuir a construir soluciones tecnológicas.
                    </p>
                    <strong>Somos una comunidad orientada a la acción así que ¡Trae tu laptop!.</strong>
                    </p>
            </div>
            <div class='col-sm-4'>
                <!-- Create your meetup widget here: https://www.meetup.com/meetup_api/foundry/ -->
                <h3>Nuestro próximo evento</h3>
                <iframe width="225" height="570" src="https://goo.gl/cR7Tdq" frameborder="0"></iframe>
            </div>

    </div>
</div>

<div class='row'>
  <div class='col-sm-12'>

    <h2 id='about'>¡Bienvenid@!</h2>



    <p>Unete a la comunidad, participando en una de las Civic Hack Nights que organizamos cada quince días para escuchar una plática de <a href='/events/index.html'>speakers geniales.</a>, <a href='/breakouts.html'>aprender unos de otros</a> y <a href='/projects.html'>trabajar en proyectos de tecnología cívica</a>. <a href='/about.html#everyone'><strong>¡Tod@s son bienvenid@s!</strong></a></p>

    <p>Somos un grupo de diseñadores,investigadores, periodistas de datos, activistas, desarrolladores web y ciudadanos curiosos que buscan hacer una ciudad más justa, transparente y un mejor lugar para vivir a través de datos, diseño y tecnología. <a href='/about.html'>Más sobr nosotros »</a></p>

    <hr />
    <h2 id='community'>Participa</h2>

    <p>Las Civic Hack Nights son un punto de encuentro para <a href='/community.html'>la comunidad de tecnología cívica de Guadalajara </a>. Aquí enlistamos las principales formas de involucrarte:</p>

    <div class='row text-center'>
      <div class='col-sm-4'>
        <div class='well'>
          <h1><i class='fa fa-fw fa-calendar'></i></h1>
          <p>1. Ven a una CHN. <a href='https://www.meetup.com/CodeandoGuadalajara/events/'>Ve nuestro calendario</a></p>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='well'>
          <h1><i class='fa fa-fw fa-slack'></i></h1>
          <p>2. <a href='http://slack.codeandomexico.org'>Entra a nuestro canal de Slack</a> y conversa con hackers cívicos de todo el país</p>
        </div>
      </div>

      <div class='col-sm-4'>
        <div class='well'>
          <h1><i class='fa fa-fw fa-group'></i></h1>
          <p>3. Encuentra un <a href='/breakouts.html'>grupo de trabajo o estudio </a> que te llame la atención</p>
        </div>
      </div>
    </div>

    <hr />
    <h2 id='blog'>Blog <small><a href='/blog/'>All posts &raquo;</a></small></h2>
    {% for post in site.categories['blog'] limit:1 %}
      <div class='row'>
        <div class='col-sm-4'>
          {% if post.image %}
            <img class='img-thumbnail img-responsive' src='{{post.image}}' alt='{{ post.title }}' />
          {% else %}
            <img class='img-thumbnail img-responsive' src='/images/logo/logo.png' alt='{{ post.title }}' />
          {% endif %}
        </div>
        <div class='col-sm-8'>
          <h4>
            <a href='{{post.url}}'>{{ post.title }}</a>
          </h4>
          <p>
            <small>{{ post.date | date: "%b %d, %Y" }} by
              <a class='muted' href='{{post.author_url}}'>{{post.author}}</a>
              {% if post.author2 %}
                , <a class='muted' href='{{post.author2_url}}'>{{post.author2}}</a>
              {% endif %}
            </small>
            <br />
            {{ post.description | markdownify }} <a href='{{post.url}}'>Read&nbsp;more&nbsp;&raquo;</a>
          </p>
          <br />
        </div>
      </div>
    {% endfor %}

    <hr />
    <div class='sponsors'>

      <h2 id='sponsors'>Patrocinadores</h2>
      <p>Las CHN son organizadas por voluntarios que buscan generar un impacto positivo en la comunidad. Pese a que no recibimos ingresos por la organización del evento, siempre buscamos la manera de elevar la calidad de las reuniones comprando material de papelería, snacks y bebidas. Agradecemos a las personas y organizaciones que nos han apoyado para seguir realizando este evento.</p>





    <div class='row'>
        <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-sm-3'>
            <a href='http://hackergarage.mx' itemprop='url'>
                <img src='images/sponsors/hg-logo.png' alt='HackerGarage' itemprop='logo' class='img-responsive' />
                <span itemprop='name'>HackerGarage</span>
            </a>
        </div>
    </div>
</div>

  </div>



</div>
